version: "3.7"
services:
 # Redis
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]      
      interval: 30s
      timeout: 10s
      retries: 5
    environment:
     - REDIS_REPLICATION_MODE=master
    restart: always
    command: redis-server 



